* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    color: #636363;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    width: 90%;
}

.section-inner {
    padding-top: 115px;
}

/* btn css */
.btn-gradient {
    padding: 20px 35px;
    border-radius: 30px;
    border: 0;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    cursor: pointer;
    transition: all 0.5s;
}

.btn-gradient:hover {
    background-position: right center;
}

/* end btn css*/
a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.first-of-type {
    color: #f55f8d;
}

.title p {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 20px;
    color: #f55f8d;
}

.title h2 {
    font-size: 70px;
    line-height: 1.1;
    font-weight: 800;
    color: #262626;
    margin-bottom: 20px;
}

/* start header */
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

header .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 135px;
}

header .navbar {
    display: flex;
    align-items: center;
}

.navbar a {
    margin: 0 15px;
    color: black;
}

.navbar a i {
    font-size: 10px;
    margin-left: 3px;
    vertical-align: middle;
}

.navbar__button {
    margin-left: 15px;
}

.navbar a span {
    display: inline-block;
    transition: all 0.3s;
}

.navbar a:hover {
    color: #f55f8d;
}

.navbar a:hover span {
    animation: upToDown 0.3s;
  }

@keyframes upToDown {
    49% {
        transform: translateY(100%);
    }

    50% {
        opacity: 0;
        transform: translateY(-100%);
    }

    51% {
        opacity: 1;
    }
}

/* end header */
/* start carousel */
#carousel {
    background-image: url(../img/pic2.png);
    background-position: top;
    background-size: 100%;
    padding-top: 180px;
}

.carousel__container {
    display: flex;
}

.carousel__left {
    width: 60%;
}

.carousel__left ul {
    margin-top: 10px;
}

.carousel__left li {
    color: #636363;
    font-size: 18px;
    line-height: 3;
}

.carousel__left li i {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 24px;
    color: #fff;
    border-radius: 35px;
    font-weight: 900;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    margin-right: 10px;
}

.carousel__left button {
    margin-top: 20px;
}

.carousel__right {
    width: 40%;
    margin-left: 50px;
}

.carousel__right img {
    transform: translateX(50px);
}

/* end carousel */
/* start service */
#service {
    background-image: url(../img/bg2.png);
    padding-top: 100px;
}

#service .title {
    text-align: center;
}

.service__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 40px;
}

.service__card {
    background: white;
    padding: 30px 45px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 20px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 10px;
    transition: all 0.5s;
    text-align: center;
}

.service__card:hover {
    transform: translateY(-20px);
}

.service__card img {
    width: 215px;
}

.service__card h4 {
    font-size: 25px;
    margin-top: 20px;
}

.service__card p {
    margin-top: 20px;
}

/* end service */
/* start about */
#about {
    background-image: url(./img/bg15.png);
    padding: 100px 0 80px;
    background-size: 100%;
    background-position: center right;
    background-repeat: no-repeat;
}

.about__container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.about__left {
    width: 60%;
    position: absolute;
    left: -16%;
}

.about__left img {
    border-radius: 0 100px 100px 0;
    width: 100%;
    transform-origin: translateX(-17%);
}

.about__right {
    width: 50%;
}

.about__content ul {
    line-height: 2.4;
    margin-top: 20px;
    color: #636363;
}

.about__content i {
    color: #f55f8d;
    font-size: 25px;
    vertical-align: middle;
    margin-right: 10px;
}

.about__right button {
    margin-top: 30px;
}

/* end about */
/* start number */
#number {
    background-image: url(./img/bg14.png);
    padding: 100px 0;
}

.number__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
}

.p-number-type {
    font-size: 65px;
    font-weight: 800;
    color: #f55f8d;
    line-height: 1;
}

.number__item i {
    font-size: 45px;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    color: #fff;
    width: 80px;
    height: 80px;
    display: inline-block;
    line-height: 80px;
    border-radius: 50%;
    margin-bottom: 15px;
}

/* end number */
/* start feature */
#features {
    background-image: url(./img/bg2.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.features__left,
.features__right {
    width: 50%;
}

.features__container {
    display: flex;
}

.features__item {
    padding: 0 50px 30px 0;
}

.features__item1 {
    padding: 0 0 30px 50px;
}

.features__item i,
.features__item1 i {
    font-size: 80px;
    line-height: 1;
    color: #f55f8d;
    z-index: 1;
    transition: all 1s;
    margin-right: 20px;
}

.features__bg {
    padding: 30px;
    background-color: #fff;
    display: flex;
    box-shadow: rgba(100, 100, 111, 0.15) 0px 7px 29px 0px;
    border-radius: 10px;
    overflow: hidden;
    align-items: center;
    position: relative;
}

.features__item div,
.features__item1 div {
    z-index: 1;
    transition: all 1s;
}

.features__bg:hover::before {
    opacity: 1;
}

.features__bg::before {
    content: "";
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 1s;
}

.features__bg:hover div,
.features__bg:hover h3,
.features__bg:hover i {
    color: #fff;
}

/* features img */
.features__img img {
    max-width: 100%;
    animation: move2 5s infinite;
}

@keyframes move2 {
    0% {
        transform: rotate(1deg) translate(2px, 2px);
    }

    50% {
        transform: rotate(-1deg) translate(-2px, -2px);
    }

    100% {
        transform: rotate(1deg) translate(2px, 2px);
    }
}

.features__img {
    margin-right: -80px;
}

/* end features img */
/* end feature */

/* start portfolio */


#portfolio .title {
    text-align: center;
}

.portfolio__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 1.5fr;
    gap: 35px;
}

.portfolio__item img {
    width: 100%;
    height: 100%;
}

.portfolio__item {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.portfolio__item1 {
    grid-column: 1/span 2;
}

.portfolio__item5 {
    grid-column: 1/span 2;
}

.portfolio__item6 {
    grid-column: 3/4;
    grid-row: 2/4;
}

.portfolio__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.4);
    opacity: 0;
    transition: all .75s;
}

.portfolio__icon {
    position: absolute;
    top:0;
    right:0;
    font-size: 28px;
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    border-radius: 10px;
    
    transition: all .75s;
}
.portfolio__text {
    position: absolute;
    bottom: 0;
    left: 30px;
    text-align: left;
    transition: all .75s;
}
.portfolio__text h3 {
    font-size: 22px;
    font-weight: 800;
    color: #fff;
}
.portfolio__text p {
    color: #fff;
    opacity: .7;
}
.portfolio__icon a {
    cursor: pointer;
}

.portfolio__item:hover .portfolio__overlay {
    opacity: 1;
}
.portfolio__item:hover .portfolio__icon {
    transform: translate(-20px,20px);
}
.portfolio__item:hover .portfolio__text {
    transform: translateY(-30px);
}

.portfolio__item::before {
    content: "";
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    display: block;
    background: linear-gradient(to right,rgba(255,255,255,0) 0%,rgba(255,255,255,.3) 100%);
    transform: skewX(-25deg);
    transition: all .75s;
}

.portfolio__item:hover::before {
    left: 125%;
}
/* end portfolio */
/* start plan */
#plan {
    background-image: url(./img/bg16.png);
    background-size: cover;
    background-position: center;
    text-align: center;
}

.plan__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 40px;
    gap: 30px;
}

.plan__item {
    padding: 35px 60px;
    background-color: #fff;
    border: 3px solid transparent;
    border-radius: 8px;
    border-image: 100 round;
    transition: all .5s;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.05) 0px 8px 24px, rgba(17, 17, 26, 0.05) 0px 16px 48px;
}

.plan__item:hover {
    border-image: url(./img/br.png) 1 round;
}

.plan__item h3 {
    font-weight: 700;
    color: #262626;
    font-size: 2rem;
}

.plan__item img {
    width: 125px;
}

.plan__item span {
    color: #f8ae56;
    font-size: 50px;
    font-weight: 800;
}

.plan__item ul {
    text-align: left;
    padding: 15px 0;
    border-top: 1px solid #e1e1f0;
}

.plan__item i {
    font-size: 12px;
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    background-color: #feeff3;
    color: #f55f8d;
    border-radius: 100%;
    margin-right: 15px;
}

/* end plan */
/* start testimonial */
.testimonial {
    background-image: url(./img/bg17.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}

.testimonial__content {
    max-width: 1199px;
    margin: auto;
    text-align: center;
    min-height: 300px;
}

.testimonial__thumbs {
    width: 300px;
    margin: auto;
    box-sizing: border-box;
    height: 170px;
    position: relative;
    overflow: hidden;
}

.testimonial__thumbs::before {
    left: 0;
    background: linear-gradient(to right,#fff 0,rgba(255,255,255,0) 100%);
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}

.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
}

.testimonial__pic {
    padding: 30px 0 0;
    transition: all .5s;
}

.testimonial__pic::after, 
.testimonial__pic::before {
    content: "";
    background-color: #f55f8d;
    border-radius: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
}

.testimonial__pic::before {
    height: 15px;
    width: 15px;
    bottom: 30px;
}

.testimonial__pic::after {
    height: 10px;
    width: 10px;
    bottom: 0;
}

.testimonial__pic img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    padding: 4px;
    position: relative;
    z-index: 2;
    background-color: #f55f8d;
}

.testimonial__pic .shape-bx {
    position: relative;
    height: 35px;
    width: 50px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 18px;
    opacity: 0;
    transition: all 1s;
    background-color: #f55f8d;
}

.testimonial__pic .shape-bx::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: url(./img/pattern12.png);
    background-position: bottom;
    background-size: contain;
    height: 100%;
    width: 100%;
    transition: all 1s;
}

.testimonial__comment {
    min-height: 300px;
    width: 100%;
    overflow: hidden;
}

.testimonial__comment .swiper-wrapper {
    padding-bottom: 20px;
}

.testimonial__text {
    padding: 30px;
    text-align: center;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,.1);
    margin: 0 auto;
    border-radius: 10px;
    background-color: #fff;
    max-width: 770px;
    position: relative;
}

.testimonial__text i {
    position: absolute;
    top: 10px;
    left: 30px;
    font-size: 70px;
    color: #f55f8d;
    transform: rotate(-180deg);
}

.testimonial__name {
    font-size: 22px;
    font-weight: 800;
    color: #000;
    line-height: 26px;
    margin-bottom: 5px;
}

.testimonial__text p {
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    padding: 0 15px 15px;
}

.testimonial__position {
    font-size: 15px;
    color: #f55f8d;
    margin-bottom: 20px;
    padding: 0;
}
/* end testimonial */
/* start blog */
#blog {
    background-image: url(./img/bg16.png);
    background-size: cover;
    background-position: top center;
    text-align: center;
    padding-bottom: 50px;
}

#blog .title {
    text-align: center;
}

.blog__content .owl-carousel {
    display: flex;
    
}

.blog__item {
    background: rgba(245,95,141,.1);
    border-radius: 8px;
    width: 33%;
    margin-right: 30px;
}

.blog__header {
    position: relative;
}

.blog__item img {
    width: 100%;
    border-radius: 8px;
}

.blog__header p {
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    border-radius: 6px;
    padding: 10px 20px;
    font-size: 14px;
    color: #fff;
    position: absolute;
    bottom: -20px;
    left: 15px;
}

.blog__body {
    padding: 30px 15px 20px;
    line-height: 1.4;
    margin-bottom: 20px;
}

.blog__body h3 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #262626;
}

.blog__footer {
    display: flex;
    padding: 15px;
    align-items: center;
    border-top: 1px solid rgba(0,0,0,.05);
}

.blog__footer i {
    font-size: 22px;
    color: #f55f8d;
    vertical-align: sub;
}

.blog__footer p:first-of-type span {
    color: #f55f8d;
}

.blog__footer p:first-of-type {
    margin-right: 20px ;
}

/* end blog  */
/* start footer */
footer {
    background-image: url(./img/bg4.png);
    display: block;
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #0e1b1f;
    background-size: contain;
    color: #fff;
    font-size: 15px;
    position: relative;
}

footer::before {
    content: "";
    background-image: url(./img/pattern2.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.footer__top {
    padding: 50px 60px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 30px 0 rgb(0 0 0 / 10%);
    background-image: url(./img/pattern3.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    display: flex;
}

.footer__text,
.footer__form {
    width: 50%;
}

.footer__text h2 {
    font-size: 28px;
    color: #262626;
}

.footer__form form {
    display: flex;
    border-radius: 0.5rem;
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
}

.footer__form input {
    padding: 20px 20px;
    font-size: 15px;
    font-weight: 400;
    color: #888;
    background: #fff;
    flex: 1 1 auto;
    border-radius: 0.5rem 0 0 0.5rem;
    border: 1px solid #fff;
    outline: 0;
    transition: all .5s;
}

.footer__form button {
    padding: 20px 35px;
    font-size: 20px;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    border-color: transparent;
    transition: all .5s;
    border-radius: 0 0.5rem 0.5rem 0;
    color: #fff;
    cursor: pointer;
}

.footer__form button:hover {
    background-position: right center;
}

.footer__bottom {
    display: flex;
    padding: 70px 0;
    position: relative;
}

.footer__item {
    width: 25%;
}

.footer__item a {
    color: #636363;
    font-size: 16px;
    transition: all .5s;
}

.footer__contact li {
    display: flex;
    align-items: center;
}

.footer__item i {
    font-weight: 700;
    margin-right: 10px;
}

.footer__contact i {
    height: 40px;
    width: 40px;
    line-height: 40px;
    margin-right: 10px;
    text-align: center;
    background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    display: block;
    border-radius: 50px;
}

.footer__item h3 {
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 10px;
    margin-bottom: 30px;
    position: relative;
    color: #fff;
}

.footer__item li {
    padding: .5rem 0;
}

.footer__item a:hover {
    color: #fff;
}

.footer__copyright {
    background-color: #1f343b;
    padding: 10px 0;
    position: relative;
}

.footer__content {
    display: flex;
    justify-content: space-between;
}

.footer__left span {
    color: #f55f8d;
}

.footer__copyright a {
    height: 32px;
    width: 32px;
    line-height: 32px;
    text-align: center;
    display: inline-block;
    border-radius: 50px;
    font-size: 14px;
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    transition: all .5s;
}

/* end footer */
/* backtotop */
.backToTop {
    width: 50px;
    height: 50px;
    background: #f55f8d;
    border-radius: 8px;
    line-height: 50px;
    text-align: center;
    display: block;
    position: fixed;
    right: 15px;
    bottom: 15px;
    color: #fff;
    transition: all .2s;
    box-shadow: -4px 4px 24px -10px #f55f8d;
    
}

